:host{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section{
    top: 0;
    margin-bottom: auto;

  }

  .vehicle-list-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  @media (min-width:469px) {
    section{
      padding: 2em;
    }
  }