<details>
    <summary><img src="assets/imgs/{{vehicle.logo}}"> <p>{{vehicle.brand}} {{vehicle.model}}</p></summary>

    <div class="vehicle">
        <img src="assets/imgs/{{vehicle.imageURL}}"/> 
        <div class="vehicle__data">
            <p class="vehicle__year">Release Year: {{vehicle.releaseYear}}</p>
            <p>Engine: {{vehicle.engine}}</p>
            <p>Weight: {{vehicle.weight}}</p>
            <p>Engine Displacement: {{vehicle.engineDisplacement}}</p>
            <p>Compression Ratio: {{vehicle.compressionRatio}}</p>
            <p>Maximum Torque: {{vehicle.maximumTorque}}</p>
            <p>Fuel Compsumption: {{vehicle.fuelCompsumption}}</p>
            <p>Fuel Tank Capacity: {{vehicle.fuelTankCapacity}}</p>
            <p class="vehicle__data__price">Price: {{vehicle.price}} $</p>
        </div>
    </div>
</details>
